<h1>Please enter a new web address!</h1>

<form action='/bookmark_added' method='post'>
  <input type="text" placeholder= 'Please type the URL here...' name="url">
  <input type="submit" value="Add bookmark">
</form>