<ul>
  <% @bookmarks.each do |bookmark| %>
    <li><a href="<%= bookmark %>"><%= bookmark %></a></li>
  <% end %>
</ul>

<form action='/add_bookmark' method='get'>
<input type="submit" value="Add new bookmark">
</form>